*{
	font-family: "Helvetica";
	margin: 0;
}
html {
	background: #ccffcc;
}
nav {
	height: 80px;
	font-size: 35px;
	text-decoration: none;
	background: gray;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav div a {
	padding: 0px 10px;
}
nav img {
	height: 30px;
}
.hover:hover {
	background: white;
}