*{
	font-family: "Lato";
	margin: 0;
}
html {
	background: #d9ffb3;
}
nav {
	background: #91C788;
	height: 70px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
nav div a {
	padding: 18px 12px;
	font-size: 30px;
	text-decoration: none;
	color: black;
}
nav img {
	height: 25px;
	padding: 0px 20px;
}
nav a:hover {
	background: #DDFFBC;
}
#title {
	padding: 18px 50px;
}
content {
	display: block;
	height: 600px;
	overflow: hide;
}
content div h2 {
	margin: 20px;
	font-size: 35px;
	font-weight: normal;
	text-decoration: underline;
}
content div li {
	font-size: 24px;
}
.one {
	display: inline-block;
	height: 100%;
	width: 30%;
	background: #e6ffcc;
}
.two {
	display: inline-block;
	height: 100%;
	width: 40%;
}
footer {
	display: block;
	background: #52734D;
	height: 65px;
}
footer p {
	text-align: center;
	font-size: 20px;
	padding: 20px 0px;
}