* {
    box-sizing: border-box;
    margin: 0;
    font-size: 20px;
    font-family: Verdana, Tahoma, sans-serif;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(110, 255, 94);
    background-color: rgb(50, 50, 50);
}

body {
    width: 900px;
    max-width: 75vw;
    margin: 0 auto;
    text-align: center;
}

#title, #title a {
    margin-top: 16px;
    text-align: center;
    font-size: 64px;
}

#title a {
    padding: 0 10px;
    border-radius: 16px;
    text-decoration: none;

}

#title a:hover {
    background-color: grey;
}

hr {
    border: 1px solid rgb(110, 255, 94);
    margin: 16px 0;
}