/* Base Styling */

:root {
    --dark-green: #94B49F;
    --light-green: #CEE5D0;
    --beige: #ede1ac;
    --white: #FCF8E8;
    --orange: #ECB390;
    --brown: #6f4b34;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    z-index: 3;
    color: var(--white);
}

a {
    color: var(--white);
    transition: 0.1s all ease-in-out;
}

a:hover {
    background-color: var(--orange);
}

/* Component Styling */

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav a {
    font-size: 30px;
    padding: 18px;
    cursor: pointer;
}

.nav img {
    width: 72px;
    padding: 4px;
}

.sidebar {
    position: fixed;
    left: 10px;
    top: 40%;
    width: 60px;
    height: 240px;
    z-index: 5;
    display: flex;
    flex-direction: column;
}

.sidebar a {
    width: 60px;
    height: 60px;
}

.sidebar img {
    width: 60px;
    padding: 8px 8px;
}

.block {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.footer {
    height: 60px;
}

.header {
    height: calc(100vh - 72px);
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 120px;
}

.content {
    width: 1200px;
    max-width: 80vw;
    text-align: center;
}

.content>img {
    width: 320px;
    max-width: 50vw;
    border-radius: 50%;
}

.collage>img {
    width: 220px;
    max-width: 25vw;
    border-radius: 50%;
}

.collage img:nth-child(n+3) {
    margin-top: -32px;
}

.arrow {
    position: relative;
    display: block;
    text-align: center;
    height: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

.arrow img {
    width: 100%;
    height: 100px;
    padding: 20px 0;
    transition: 0.2s background-color ease-in-out;
}

.up img:hover {
    background-image: linear-gradient(to bottom,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0));
}

.down img:hover {
    background-image: linear-gradient(to top,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0));
}

.down {
    top: -100px;
}

.card {
    position: relative;
    width: 0;
    height: 0;
}

.card-inner {
    position: relative;
    width: 300px;
    height: 200px;
    z-index: 2;
    border-style: solid;
    border-color: var(--orange);
    border-radius: 12px;

}

.tl {
    top: -24px;
    left: -24px;
    border-width: 12px 0 0 12px;
}

.cv-link {
    text-decoration: none;
    font-weight: bold;
    padding: 0 4px;
    border-radius: 8px;
}

/* Group Styling */

.text-large {
    font-size: 60px;
}

.text-medium {
    font-size: 36px;
}

.text-space {
    height: 12px;
}

.text-left {
    text-align: left;
}

.text-block {
    width: 700px;
    max-width: 70vw;
    display: flex;
    flex-direction: column;
}

.text-brown {
    color: var(--brown);
}

.fade-green {
    background-image: linear-gradient(to bottom, var(--dark-green), var(--light-green));
}

.light-green {
    background-color: var(--light-green);
}

.dark-green {
    background-color: var(--dark-green);
}

.white {
    background-color: var(--white);
}

.beige {
    background-color: var(--beige);
}

.orange {
    background-color: var(--orange);
}

/* Responsive Styling */

@media only screen and (max-width: 1000px) {

    .text-large {
        font-size: 40px;
    }

    .text-medium {
        font-size: 24px;
    }
}