@font-face {
    font-family: 'Helvetica';
    src: url('fonts/Helvetica-Thin.eot');
    src: url('fonts/Helvetica-Thin.eot?#iefix') format('embedded-opentype'),
        url('fonts/Helvetica-Thin.woff2') format('woff2'),
        url('fonts/Helvetica-Thin.woff') format('woff'),
        url('fonts/Helvetica-Thin.ttf') format('truetype'),
        url('fonts/Helvetica-Thin.svg#Helvetica-Thin') format('svg');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
    --lightgrey: #A5A5A5;
    --darkgrey: #333332;
    --orange: #FE9E2B;
  }

* {
    color: white;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: bold;
}

html {
    background: #444444;
}

body {
    /* WINDOW SIZING */
    width: 300px;
    height: 650px;

    margin: 10px auto 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    
    border-radius: 50px;
    border: 2px solid var(--lightgrey);
    background: black;
}

#output {
    width: 70%;
    margin: 0 15%;
    text-align: end;
    font-size: 64px;
}

#keybox {
    display: flex;
    flex-direction: row;
    width: 270px;
    height: 340px;
    margin: 5% 5% 20%;
    gap: 10px;
}

#grey {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#specials {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

#specials .key {
    width: 60px;
    color: black;
    background-color: var(--lightgrey);
}

#specials .key:active {
    background-color: #FFFFFF;
}

#numbers {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}

#numbers .key {
    width: 60px;
    background-color: var(--darkgrey);
}

#numbers .key:active {
    background-color: #CCCCCC;
}

#operators {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#operators .key {
    background-color: var(--orange);
}

#operators .key:active {
    background-color: #FFDAB3;
}

.key {
    height: 60px;
    border-radius: 30px;
    transition: background-color 0.1s ease-out 0s;
}

.key:hover {
    cursor: pointer;
}

#numbers .wide {
    width: 130px;
    text-align: left;
    padding: 10px 20px;
}
